<% @page_title = "Welcome #{session[:full_name]}!" %>

<script>

addScrollListener();

addReloadListener();

$(document).ready(function() {

	initializeFeed();
});

</script>

<div class="feed-ask-wrapper">
	<%= form_for @question, url: { controller: :questions, action: :create} do |f| %>
	<%= f.text_field :question, require: true, placeholder: 'What is your question?', class: 'feed-ask-input-text', required: true, maxlength: 255 %>
	<%= submit_tag "Ask", class: "onquiry-btn onquiry-btn-2" %>
	<% end %>
</div>



<div class="feed-wrapper">
	<%= render_alert(@question, alert_container_class: 'feed-alert-container')%>
	<div id="feed-container">
		<%= render partial: 'questions/question_feeds', locals: { questions: @questions } %>
	</div>	
	
	<div class="load-more-wrapper">
		<%= link_to 'Load More', load_question_path(limit: 10, offset: 10), method: :get, remote: true,  id: 'load-more-feed' %>	
	</div>
	
	<a href="#" class="back-to-top"><span class="glyphicon glyphicon-circle-arrow-up"></span>Back to top</a>
</div>


