<% @page_title = "Welcome #{session[:first_name]}!" %>

<script>
didScroll = false;

$(window).scroll(function() {
	didScroll = true;
});

setInterval(function() {
	if (didScroll) {
		didScroll = false;
		loadMoreFeed();
	}
}, 0);

setInterval(function() {
	location.reload();
}, 1000 * 60 * 5);

$(document).ready(function() {
	
	var $origText = $('#load-more-feed').text();
	var $counter = 10;
	
	addBackToTopListener();
	
	$('#load-more-feed')
		.bind("ajax:beforeSend", function(evt, xhr, settings) {
			$('#load-more-feed').text("");
			$('.load-more-wrapper').css('background-image','url("<%= asset_path('ajax-loader.gif') %>")');
		})

		.bind("ajax:success", function(evt, data, status, xhr) {

			setTimeout(function() {
				if(xhr.responseText == "") {
					$('#load-more-feed').hide();
					$('.load-more-wrapper').text("No More Feed");
				} else {
					$('#feed-container').append(xhr.responseText);
				}
			
				$('#load-more-feed').text($origText);
				$('.load-more-wrapper').css('background-image','none');
			
				$counter = $counter + 10;
				$('#load-more-feed').attr("href","/question/load/10/" + $counter);
			
			}, 500);
		});
});

</script>


<div class="feed-ask-wrapper">
	<%= form_for @question, url: { controller: :questions, action: :create}, html: {class: 'form-inline', role: 'form'} do |f| %>
	<div class="form-group col-lg-10">
		<label class="sr-only" for="question_question">Question</label>
		<%= f.text_field :question, require: true, placeholder: 'What is your question?', class: 'form-control', required: true %>
	</div>
	<%= submit_tag 'Ask', class: 'btn btn-success' %>
	<% end %>
	
	
</div>

<div class="feed-wrapper">
	<div id="feed-container">
		<%= render partial: 'questions/question_feeds', locals: { questions: @questions } %>
	</div>	
	
	<div class="load-more-wrapper">
		<%= link_to 'Load More', load_question_path(limit: 10, offset: 10), method: :get, remote: true,  id: 'load-more-feed' %>	
	</div>
	
	<a href="#" class="back-to-top"><span class="glyphicon glyphicon-circle-arrow-up"></span>Back to top</a>
</div>


