<%= render_alert(@new_user) %>

<div class="welcome-section">
	
		<blockquote>
			“Any fool can know. The point is to understand.”
		</blockquote>
		― Albert Einstein
	
</div>

<div class="welcome-section">
	<h1>Create an Account</h1>

	<div class="form-container-medium">
		<%= form_for @new_user, url: { action: :register }, method: :post do |f| %>
		<%= f.text_field :first_name, required: true, placeholder: 'First Name', class: 'form-control', value: '' %>
		<%= f.text_field :last_name, required: true, placeholder: 'Last Name', class: 'form-control', value: '' %>
		<%= f.email_field :email, required: true, placeholder: 'Email', class: 'form-control', value: '' %>
		<%= f.password_field :password, required: true, placeholder: 'Password', class: 'form-control' %>

		<%= submit_tag "Create Account", class: 'btn btn-success' %>
		<% end %>
	</div>

</div>