<!DOCTYPE html>
<html class="onquiry-bg-color">
	<head>
		<title><%= @page_title%></title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body class="onquiry-bg-color" onload="initWelcomePage();">
		<%= yield %>
	</body>
</html>
