<!DOCTYPE html>
<html>
	<head>
		<title><%= @page_title%></title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<header>
			<div class="logo">
				OnQuiry
			</div>
			
			<div class="login">
				<%= form_for :login, url: { action: :login }, method: :post, html: { class: 'form-inline', role: 'form'} do |f| %>
					<div class="form-group">
						<label class="sr-only" for="login_email">Email address</label>
						<%= f.text_field 'email', required: true, placeholder: 'Email', class: 'form-control' %>
					</div>
					
					<div class="form-group">
						<label class="sr-only" for="login_password">Password</label>
						<%= f.password_field 'password', required: true, placeholder: 'Password', class: 'form-control' %>
					</div>
					<%= submit_tag "Login", class: 'btn btn-success login-button'%>
				<% end %>
			
			</div>
		</header>

		<div class="wrapper">
			<div class="welcome">
				<%= yield %>
			</div>

			<footer>
				&copy;2013
			</footer>
		</div>
	</body>
</html>
